@use '../styles/partials/colors' as *;
@use '../styles/partials/mixins' as *;

.button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border-style: none;
  border-radius: 26px;
  width: 100%;
  height: 2.875rem;
  background-color: $color-accent-200;
  transition: background-color 0.3s;

  &--form {
    @include tablet {
      position: absolute;
      width: 10.125rem;
      transform: translate(calc(-100% - 5px), 5px);
    }
  }

  &:hover {
    background-color: $color-accent-100;
    transition: background-color 0.3s;
  }
}
