@use '../styles/partials/colors' as *;
@use '../styles/partials/mixins' as *;

.modal {
  position: fixed;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  overflow: hidden;

  background-color: $color-primary-500;
  padding: 3rem 2rem;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding: 3.5rem 2.5rem;
  }

  &__title {
    color: $color-accent-200;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    margin-bottom: 2rem;

    @include tablet {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
}
