@use '../styles/partials/mixins' as *;

.pattern {
  display: none;
  background-image: url(../assets/desktop/bg-pattern-dots.svg);
  background-repeat: no-repeat;
  height: 6.5rem;

  &--tablet {
    @include tablet {
      display: block;
    }

    @include desktop {
      display: none;
    }
  }

  &--desktop {
    @include desktop {
      display: block;
      width: 100%;
      position: absolute;
      margin-left: calc(100% - 232px);
      margin-top: 719px;
    }
  }
}
