$color-primary-100: #ffffff;
$color-primary-200: #c2cbe5;
$color-primary-300: #5a668a;
$color-primary-400: #2c344b;
$color-primary-500: #121725;

$color-accent-100: #b2ffe1;
$color-accent-200: #54e6af;

$color-alert: #fa3e3d;
