@use './partials/colors' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: $font-stack;
}

html {
  box-sizing: border-box;
  color: $color-primary-200;
  background-color: $color-primary-500;
  scroll-behavior: smooth;
}

body {
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1.75rem;
}

h1 {
  font-size: 1.625rem;
  font-weight: 100;
  line-height: 2.375rem;
  text-transform: uppercase;

  @include tablet {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  @include desktop {
    font-size: 3.25rem;
    line-height: 3.875rem;
  }
}

h2 {
  font-size: 1.625rem;
  font-weight: 100;
  line-height: 2.375rem;
  text-transform: uppercase;

  @include tablet {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }

  @include desktop {
    font-size: 2.8rem;
    line-height: 3.3rem;
  }
}

ul {
  list-style: none;
}

/* WebKit, Blink, Edge */
*::-webkit-input-placeholder {
  @include placeholder-styles;
}
*:-moz-placeholder {
  /* FF 4-18 */
  @include placeholder-styles;
}
*::-moz-placeholder {
  /* FF 19+ */
  @include placeholder-styles;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  @include placeholder-styles;
}
*::-ms-input-placeholder {
  /* Microsoft Edge */
  @include placeholder-styles;
}
*::placeholder {
  /* modern browser */
  @include placeholder-styles;
}
