@use '../styles/partials/colors' as *;
@use '../styles/partials/mixins' as *;
@use '../styles/partials/variables' as *;

.hero {
  text-align: center;
  width: 100%;

  &__title {
    color: $color-accent-200;
    margin-bottom: 1rem;

    &--strong {
      font-weight: 100;
      color: $color-primary-100;
    }
  }

  &__subtitle {
    font-size: 0.9375rem;
    margin-bottom: 2rem;
  }
}
