@use '../styles/partials/colors' as *;
@use '../styles/partials/mixins' as *;

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;

  @include tablet {
    text-align: left;
    background-color: $color-primary-500;
    width: 39.6875rem;
    padding-top: 5.8125rem;
    margin-bottom: 9.5625rem;
  }

  @include desktop {
    padding-top: 5.5rem;
    width: 45.1875rem;
  }

  &__title {
    color: $color-accent-200;
    margin-bottom: 1rem;

    &--strong {
      font-weight: 100;
      color: $color-primary-100;
    }

    @include tablet {
      margin-bottom: 1.9375rem;
    }

    @include desktop {
      margin-bottom: 1.5rem;
    }
  }

  &__subtitle {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    margin-bottom: 2rem;

    @include tablet {
      font-size: 1.125rem;
      line-height: 1.75rem;
      max-width: 27.8125rem;
      margin-bottom: 2.5rem;
    }
  }
}
