.hero {
  text-align: center;
  width: 100%;
}

.hero__title {
  color: var(--color-accent-200);
}

.hero__title--strong {
  font-weight: 100;
  color: var(--color-primary-100);

}

.hero__subtitle {}