@use '../styles/partials/colors' as *;
@use '../styles/partials/mixins' as *;

.hero-form {
  position: relative;

  @include tablet {
    margin-bottom: 3rem;
  }

  &__input {
    background-color: $color-primary-400;
    color: $color-primary-100;
    border-style: none;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 1.625rem;
    width: 100%;
    height: 46px;
    padding: 0 32px;
    margin-bottom: 16px;

    @include tablet {
      width: 427px;
      height: 3.5rem;
    }
  }
}
