@use '../styles/partials/mixins' as *;

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10.9375rem;

  @include tablet {
    height: auto;
    justify-content: flex-start;
    margin-bottom: 9rem;
  }

  @include desktop {
    margin-bottom: 5.9375rem;
  }

  &__link {
  }

  &__logo {
    height: 3.5rem;

    @include tablet {
      margin-top: 3.125rem;
    }

    @include desktop {
      margin-top: 6.375rem;
    }
  }
}
