@use '../styles/partials/mixins' as *;

.partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;

  @include tablet {
    order: 1;
    width: 33.5rem;
    margin-bottom: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    opacity: 0.7;

    &--spotify {
      height: 1.0625rem;

      @include tablet {
        height: 1.8125rem;
      }
    }

    &--apple {
      height: 1.0625rem;

      @include tablet {
        height: 1.8125rem;
      }
    }

    &--google {
      height: 0.6875rem;

      @include tablet {
        height: 1.125rem;
      }
    }

    &--pocket {
      height: 0.9375rem;

      @include tablet {
        height: 1.625rem;
      }
    }
  }
}
