.partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    height: 1rem;
    opacity: 0.7;

    &--spotify {
    }

    &--apple {
    }

    &--google {
      height: auto;
      width: 5rem;
    }

    &--pocket {
    }
  }
}
