@use './styles/global.scss';
@use './styles/partials/colors' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/variables' as *;

.app {
  position: relative;
  height: 100vh;
  max-width: 105rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-image: url(../src/assets/mobile/image-host.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    justify-content: flex-start;
    background-image: url(../src/assets/tablet/image-host.jpg);
    background-size: inherit;
    background-position: top right;
    padding: 0;
  }

  @include desktop {
    background-image: url(../src/assets/desktop/image-host.jpg);
    background-position: top 8.125rem right;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: $color-primary-500;

    @include tablet {
      opacity: 0;
    }
  }

  &__container {
    max-width: 20.4375rem;
    z-index: 100;

    @include tablet {
      max-width: 100%;
      padding-left: 2.4375rem;
    }

    @include desktop {
      padding-left: 10.3125rem;
    }
  }
}
